body{
    font-family: 'Raleway Thin';
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

/*/ mobile /*/

.menu{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 160, 8, 0.2), #038d00);
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0;
}

p{
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 2em;
    color: aliceblue;
    text-align: justify;
}

.box-footer{
    max-width: 472px;
    margin: auto;
    margin-bottom: 0.8rem;
    position: relative;
}

.logo img{
    object-fit: fill;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 472px;
    max-height: 307px;
}

#buttonEmail {
    padding: 5px 1px;
    margin: 0px 5px;
    font-size: 2em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 25px;
    background: url(/mlkbrutal/botao-teste-op.png) no-repeat center;
    background-size: cover;
    width: 100%;
}

#buttonEmail:hover{
    outline:none;
    border-color:#e2e9ee;
    box-shadow:0 0 10px #e2e9ee;
}
  
#buttonEmail:active{
    background-color: #3e8e41;
    box-shadow: 0 5px rgba(26, 26, 26, 0.5);
    transform: translateY(2px);
}


/* Copy style */
#buttonEmail .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
#buttonEmail .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
#buttonEmail:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#email {
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.button-social {
    margin-top: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    float: right;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 25px;
    background: url(/mlkbrutal/botao-ig.png) no-repeat center;
    background-size: cover;
    width: 15%;
    height: 35px;
}

.button-social:hover{
    outline:none;
    border-color:#e2e9ee;
    box-shadow:0 0 10px #e2e9ee;
}
  
.button-social:active{
    background-color: #3e8e41;
    box-shadow: 0 5px rgba(26, 26, 26, 0.5);
    transform: translateY(2px);
}

.video-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-container .video-wrapper{
    height: 30rem;
    width: 50rem;
    margin: 2rem;
    margin-bottom: 60px;
    box-shadow: 0 .5rem 2rem rgba(0,0,0 .5);
    position: relative;
    border-color:#038d00;
    border-style: ridge;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-width: 2px;
}

.video-container .video-wrapper video{
    height: 100%;
    width: 100%;
    outline:none;
    cursor: pointer;
    object-fit: cover;
}


.video-container .video-wrapper .active{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, .95);
    z-index: 2;
}

.video-container .video-wrapper .active:hover{
    transition: none;
    transform: translate(-50%, -50%) scale(1);
}


.wrapper-credit {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: 35px;
}

.search-bar{
    background: linear-gradient(180deg, #038d00, rgba(0, 160, 8, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    position: fixed;
    display: flex;
    width: 100%;
    top: 0px;
    right: 0;
    height: 10%;
}

input {
    position: relative;
    width: 450px;
    height: 60px;
    margin: auto;
    margin-top: 15px;
    border: 0;
    border-radius: 25px;
    outline: 0;
    box-sizing: border-box;
    font-size: 35px;
    font-weight: 400;
    text-align: justify;
    padding: 18px;
    background: gainsboro;
    display: inline-block;
}

.footer {
    height: 15rem;
    width: 100%;
}

@media (min-width: 460px) {

    .box-footer {
        max-width: 370px;
    }

}

    

/* @media (min-width: 40em) {
    .menu {
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    }

    p{
        font-size: small;
    }

    .box-footer {
        grid-column: 3/4;
    }

    .button-email{
        width: 100%;
        font-size: 15px;
    }
} */

/* @media (min-width: 50rem) {
    .menu {
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    }

    p{
        text-align: center;
        text-justify: auto;
        font-size: 2rem;
    }

    .box-footer {
        grid-column: 3/4;
    }

    .button-email{
        width: 100%;
        font-size: 1.8rem;
    }

    .button-social{
        height: 60px;
    }
}

@media (min-width: 65rem) {
    .menu {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    p{
        text-align: center;
        text-justify: auto;
    }

    .box-footer {
        grid-column: 3/4;
    }

    .button-email{
        width: 100%;
    }
} */

/* @media (min-width: 890px) and (max-width: 1342px) {
    .menu {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .box-footer {
        grid-column: 2/3;
    }

    .wrapper-credit {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em ;
    }
}
 */
@media (min-width: 85rem) {

    p{
        font-size: 1rem;
    }

    .box-footer {
        max-width: 271px;
    }

    #buttonEmail{
        width: 100%;
        font-size: 1rem;
    }

    #email {
        font-size: 0.9em;
    }

    .button-social{
        height: 40px;
    }

    input{
        font-size: 16px;
        width: 250px;
        height: 30px;
    }

    .wrapper-credit {
        font-size: 16px;
    }
}