body{
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

/*/ mobile /*/

p{
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 0.9rem;
    color: aliceblue;
    text-align: justify;
}



.menu{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 160, 8, 0.2), #038d00);
    display: grid;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0;
    grid-template-columns: 25% 1fr 25%;
    z-index: 3;
}

.box-footer{
    grid-column: 2/3;
    margin-bottom: 0.8rem;
}

div.logo img{
    object-fit: fill;
    margin: auto;
    width: 100%;
    height: 100%;
}

.button-email {
    padding: 5px 8px;
    margin: 0px 5px;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 25px;
    background: url(/botao-teste-op.png) no-repeat center;
    background-size: cover;
    width: 100%;
}

.button-email:hover{
    outline:none;
    border-color:#e2e9ee;
    box-shadow:0 0 10px #e2e9ee;
}
  
.button-email:active{
    background-color: #3e8e41;
    box-shadow: 0 5px rgba(26, 26, 26, 0.5);
    transform: translateY(2px);
}

.button-social {
    padding: 8px 10px;
    margin-top: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    float: right;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 25px;
    background: url(/botao-ig.png) no-repeat center;
    background-size: cover;
    width: 15%;
    height: 35px;
}

.button-social:hover{
    outline:none;
    border-color:#e2e9ee;
    box-shadow:0 0 10px #e2e9ee;
}
  
.button-social:active{
    background-color: #3e8e41;
    box-shadow: 0 5px rgba(26, 26, 26, 0.5);
    transform: translateY(2px);
}

.video-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

.video-container .video{
    height: 30rem;
    width: 50rem;
    margin: 2rem;
    box-shadow: 0 .5rem 2rem rgba(0,0,0 .5);
    border-color:#038d00;
    border-style: ridge;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-width: 2px;
}

.video-container .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline:none;
    cursor: pointer;
}

.video-container .video video:hover{
    transition: .2s linear;
    transform: scale(1.25);
    border-color:#038d00;
    border-style: ridge;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-width: 2px;
}

.video-container .video .active{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, .7);
    z-index: 2;
}

.video-container .video .active:hover{
    transition: none;
    transform: translate(-50%, -50%) scale(1);
}

.wrapper-credit {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: aliceblue;
}

.border-top{
    background: linear-gradient(180deg, #038d00, rgba(0, 160, 8, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0;
    height: 10%;
}

@media (min-width: 40em) {
    .menu {
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    }

    p{
        text-align: center;
        text-justify: auto;
    }

    .box-footer {
        grid-column: 3/4;
    }

    .button-email{
        width: 100%;
    }
}

@media (min-width: 50em) {
    .menu {
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    }

    p{
        text-align: center;
        text-justify: auto;
        font-size: 2rem;
    }

    .box-footer {
        grid-column: 3/4;
    }

    .button-email{
        width: 100%;
        font-size: 1.8rem;
    }

    .button-social{
        height: 60px;
    }
}

@media (min-width: 65em) {
    .menu {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    p{
        text-align: center;
        text-justify: auto;
    }

    .box-footer {
        grid-column: 3/4;
    }

    .button-email{
        width: 100%;
    }
}



@media (min-width: 85em) {
    .menu {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    p{
        text-align: center;
        text-justify: auto;
        font-size: 1.1rem;
    }

    .box-footer {
        grid-column: 4/5;
    }

    .button-email{
        width: 100%;
        font-size: 0.95rem;
    }

    .button-social{
        height: 40px;
    }
}